<!-- interface/templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card {
            width: 300px;
            padding: 20px;
        }
    </style>
    
</head>

<body>
    <div class="card">
        <div class="bg-light p-3 mb-3"> <!-- Card with different color -->
            <h2 class="text-center mb-4">Login</h2>
            <form method="post" action='login'>
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">User ID:</label>
                    <input type="text" name="username" class="form-control" id="id_username">
                </div>
                <div class="form-group">
                    <label for="id_password">Password:</label>
                    <input type="password" name="password" class="form-control" id="id_password">
                </div>
                <button type="submit" class="btn btn-primary btn-block" >Login</button>
            </form>
        </div>
    </div>
    <footer class="text-center mt-4 fixed-bottom">
        <p>All rights reserved by CMInDS IIT, Bombay</p> <!-- Footer -->
    </footer>
</body>
</html>
